<%-include ("cabecalho.ejs");%>
    <
   <form method="post" enctype="multipart/form-data">
       <p>Pesquisar por: </p></br>
       Nome: <input type="text" name="nome" 
        placeholder="Digite seu nome"><br>
       Email: <input type="email" name="email" 
        placeholder="Digite seu email"><br>
       Senha: <input type="password" name="senha" 
        placeholder="Digite sua senha"><br>
       Foto: <input type="file" name="foto"><br>
       <input class="input" type="submit" class="input" value="Enviar">
   </form> 
   <%-include("rodape.ejs");%>